<div class="container">


<div class="row p-2 justify-content-center">
  <div class="col-4 ">
    <div class="input-group rounded ">
      <input type="search" name="searchText" [(ngModel)]="searchText" class="form-control rounded" placeholder="Buscar" aria-label="Buscar"
      aria-describedby="search-addon" />
      <button type="button" class="btn btn-primary" (click)="search(searchText)"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <!-- <ul *ngFor="let data of dataset | filter: searchText"> -->
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Categoria</th>
              <th>Id</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of listado | filter: searchText">
            
            <td scope="row">{{categoria.nombre}}</td>
            <td scope="row">{{categoria.id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
      
    </div>
  </div>
  
</div>
</div>