<div class="row p-2 justify-content-center">
  
    <div class="row justify-content-center p-2 mt-2 rounded">
      <div class="col-8 listado-productos rounded">
        <!-- <ul *ngFor="let data of dataset | filter: searchText"> -->
          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 80%">Plan</th>
                <th style="width: 10%">Periodo</th>
                <th style="width: 10%">Precio</th>
                <th style="width: 10%">Eliminar</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of listadoPlanesCart">
              
              <td scope="row">{{plan.nombre}}</td>
              <td  scope="row">{{plan.periodo}}&nbsp;meses</td>
              <td  scope="row">$&nbsp;{{plan.valor}}</td>
              <td scope="row">&nbsp;<button type="button" class="btn btn-danger" (click)="eliminar(plan)"><i class="fas fa-minus"></i></button></td>
            </tr>
            <tr>
              <td colspan="4" scope="row" style="text-align: right; font-weight: bold;">Precio total:&nbsp;$&nbsp;{{precioTotal}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        
      </div>
      
    </div>
    
  </div>